<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/b789d2f351.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/createAccount.css' />
    <title>Create Account</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <h1>Create Account</h1>
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <div class="icon">
          <p><i class="fas fa-user" ></i> </p>  
        </div>
          </div>
      
          <!-- Create Account Form -->
          <form method="POST" action="/login/createAccount" class="CreateAccountForm">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" required>
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" required>
            <input type="submit" class="fadeIn fourth" value="Create">
          </form>
      
          <!-- Back to Login Page -->
          <div id="formFooter">
            <a class="underlineHover" href="/login">Login</a>
          </div>
        </div>
        <% if(msg != '') { %>
          <div class="alert alert-success">
            <p><b><%= msg %></b></p>
        </div>
        
    <% } %>
        </div>
      </div>
</body>
</html>



